@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');

body{
  font-family: 'Inter', sans-serif;
}
/* scroll to top button */
.top-btn-position {
    position: fixed;
    bottom: 15px;
    right: 20px;
  }
  
  .top-btn-style {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid #333;
    background-color: #fff;
    color: #333;
    cursor: pointer;
  }
  
  .top-btn-style:hover {
    animation: none;
    background-color: #333;
    color: #fff;
    border: 2px solid #fff;
  }

  .pq{
    max-width:-700px;
    text-align:center;
  }

  .imp{
    transform: scaleX(-1);
   }

